@use "../base/variables" as *;
@use "../components/buttons" as *;
@use "../components/form" as *;
@use "../components/cards" as *;
@use "../components/genres" as *;
@use "../components/search" as *;

// Overzicht pagina - cards in het midden
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
}