@use "../base/variables" as *;
@use "../components/buttons" as *;
@use "../components/form" as *;
@use "../components/cards" as *;
@use "../components/genres" as *;
@use "../components/search" as *;

// specifieke stijlen van deze pagina hier