@use "../base/variables" as *;

.btn-overzicht,
.btn-edit,
.btn-back,
.btn-delete {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-overzicht,
.btn-edit {
  background-color: $accent;
  color: $text-dark;
}

.btn-overzicht:hover,
.btn-edit:hover {
  background-color: $accent-hover;
}

.btn-delete {
  background-color: $btn-delete;
  color: $text-main;
}

.btn-delete:hover {
  background-color: $btn-delete-hover;
}

.btn-back {
  background-color: $btn-back;
  color: $text-main;
}

.btn-back:hover {
  background-color: $btn-back-hover;
}