@use "../base/variables" as *;

form {
  background-color: $bg-card;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto 40px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

form input,
form select,
form textarea,
form button {
  width: 57%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

form input,
form select,
form textarea {
  background-color: $bg-input;
  color: $text-main;
}

form input:focus,
form select:focus,
form textarea:focus {
  outline: 2px solid $accent;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

form button {
  width: 25%;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: $accent;
  color: $text-dark;
}

form button:hover {
  background-color: $accent-hover;
}

.categorie-upload,
.afbeelding-upload,
.status,
.datum {
  margin-top: 15px;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.categorie-upload label,
.afbeelding-upload label,
.status label,
.datum label {
  margin-bottom: 8px;
}

.categorie-upload input,
.afbeelding-upload input,
.status select,
.datum input {
  width: 75% !important;
}