@use "../base/variables" as *;

.zoek-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.zoek-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.zoek-container input {
  width: 100% !important;
  position: relative;
  z-index: 10;
}

.zoek-resultaten {
  background-color: $bg-input;
  border-radius: 8px;
  max-height: 300px;
  overflow-y: auto;
  position: relative;
  z-index: 20;
}

.resultaat-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid $bg-card;
  transition: 0.2s ease;
}

.resultaat-item:hover {
  background-color: $accent;
  color: $text-dark;
}

.resultaat-item:last-child {
  border-bottom: none;
}